<div class="page-header">
  <h1>Movie #<%= @id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Title</dt>
  <dd><%= @title %></dd>

  <dt>Year</dt>
  <dd><%= @year %></dd>

  <dt>Duration</dt>
  <dd><%= @duration %></dd>

  <dt>Description</dt>
  <dd><%= @description %></dd>

  <dt>Director ID</dt>
  <dd><%= @director_id %></dd>

  <dt>Image</dt>
  <dd><img src="<%= @image_url %>" width="320"></dd>


</dl>
